/* Write your CSS here */

.latestMatchesContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.subMain {
  max-width: 1100px;
}

.image2 {
  width: 100%;
}

.teamContainer {
  padding: 5px;
}

.h2 {
  font-family: Bree serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.recentMatchesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.KXP {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.RCB {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.RR {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}
